<app-statistics></app-statistics>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto bg-gray-50">
        <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
            <h1 class="text-3xl font-medium title-font text-gray-900 mb-4">Welcome to SaveSphere</h1>
            <p class="leading-relaxed text-lg mb-8">
                SaveSphere is your leading platform for affiliate marketing. Our goal is to help you earn extra income by promoting products and services. With SaveSphere, you can benefit from the best offers and easily share them with your network.
            </p>
            <h2 class="text-2xl font-medium title-font text-gray-900 mb-4">What is Affiliate Marketing?</h2>
            <p class="leading-relaxed text-lg mb-8">
                Affiliate marketing is a type of performance-based marketing where you earn a commission for bringing customers to a company's products or services. You promote the products through special affiliate links, and every time someone makes a purchase through your link, you earn a reward.
            </p>
            <h2 class="text-2xl font-medium title-font text-gray-900 mb-4">How Does SaveSphere Work?</h2>
            <p class="leading-relaxed text-lg mb-8">
                At SaveSphere, we offer you access to a wide variety of recommended products categorized for your convenience. After signing up, you will receive unique affiliate links that you can share on your website, social media, or other channels.
            </p>
            <h2 class="text-2xl font-medium title-font text-gray-900 mb-4">Benefits of Using SaveSphere</h2>
            <ul class="leading-relaxed text-lg mb-8 list-disc list-inside">
                <li>Easy to Use: Find and share recommended products by categories.</li>
                <li>Wide Range of Programs: Access to numerous affiliate programs across various industries.</li>
                <li>Attractive Commissions: Earn competitive commissions for your referrals.</li>
                <li>Support: Receive support and resources to optimize your affiliate marketing efforts.</li>
            </ul>
            <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
            <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">OLIVIER CHODURA</h2>
            <p class="text-gray-500">Webdeveloper & Co-founder</p>
        </div>
    </div>
</section>
