.category button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

button.active {
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    background-color: #6495ca;
}