<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto bg-gray-50">
        <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
            <h1 class="text-3xl font-medium title-font text-gray-900 mb-4">Disclaimer</h1>
            <p class="leading-relaxed text-lg mb-8">
                **Savesphere.de** provides information for general informational purposes and does not recommend any specific products or services. Nothing on this website constitutes or is intended to constitute financial or other advice/recommendation for the purchase of any product or service.
            </p>
            <p class="leading-relaxed text-lg mb-8">
                The service provided by Savesphere.de expressly disclaims all express, implied, and statutory warranties regarding the information contained on the website to the fullest extent permitted by law. Savesphere.de makes no guarantee or warranty regarding the accuracy or reliability of the information, as it is automatically and algorithmically collected, processed, and heuristically managed, and shall not be held liable to any user for their use or misuse of information on Savesphere.de.
            </p>
            <p class="leading-relaxed text-lg mb-8">
                We strongly recommend seeking independent/professional advice before purchasing any product or service through Savesphere.de.
            </p>
            <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
            <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">LEVI HELIOS</h2>
            <p class="text-gray-500">Founder & Entrepreneur</p>
        </div>
    </div>
</section>